.outline-btn {
    @apply flex min-h-8 px-5 py-2 gap-2 w-max items-center justify-center rounded-xl border border-solid border-current/7 bg-current/5 text-sm font-medium;
    @apply hover:text-current/80 hover:border-current/30 hover:bg-current/15;
}

.outline-btn span {
    @apply order-2;
}

.outline-btn i {
    @apply text-current text-base leading-none !order-1;
}

.outline-btn.danger {
    @apply text-red-400 hover:text-red-600;
}

.toggle-group button.active {
    @apply bg-current/15;
}
