/* ---------------------------------------- */
/* Drag and drop */
/* ---------------------------------------- */

.drag-drop-input {
    @apply flex w-full items-center justify-center;
}
.drag-drop-input__label {
    @apply flex w-full cursor-pointer flex-col items-center justify-center gap-3 rounded-lg border-2 border-dashed border-current/40 bg-current/30 px-4 py-4 transition-all duration-150 ease-in-out;
    @apply md:min-h-[300px] md:px-5;
    @apply hover:border-current/50 hover:bg-current/20;
}

.drag-drop-input__label.avatar {
    @apply w-26 h-26 min-h-26 rounded-full;
}

.drag-drop-input__label > i {
    @apply text-2xl text-current/50 transition-all duration-150 ease-in-out;
}
.drag-drop-input__label > div {
    @apply child:text-center flex flex-col items-center gap-3;
    @apply md:gap-2;
}
.drag-drop-input__label p:first-of-type {
    @apply font-poppins text-base font-medium text-black;
}
.drag-drop-input__label p:last-of-type {
    @apply text-sm font-normal text-black/40;
}

.drag-drop-input.focus .drag-drop-input__label > i,
.drag-drop-input__label:hover > i {
    @apply text-light;
}

.drag-drop-input.focus .drag-drop-input__label {
    @apply border-[#cbe5ff] bg-[#f7fbff];
}

.drag-drop-input__text {
    @apply text-center text-current/75!;
}

.drag-drop-input.has-files {
    @apply hidden;
}

.drag-drop-input.has-files .drag-drop-input__label > div {
    @apply child:text-left items-start;
}
.drag-drop-input ~ button[type="submit"] {
    @apply hidden;
}
.drag-drop-input.has-files ~ button[type="submit"] {
    @apply flex;
}
.drag-drop-input:not(.has-files) ~ .uploaded-files {
    @apply hidden;
}

.drag-drop-input__label.invalid {
    @apply border-[#ffd1d1];
}

.drag-drop-input__label.invalid > i {
    @apply text-red-500;
}

/* -------------------------------
| File Upload Grid
|------------------------------- */
.file-wrapper {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4;
}

/* -------------------------------
| File Card
|------------------------------- */
.file-upload {
    @apply relative p-3 rounded-xl border border-current/10 bg-current/5;
}

.file-preview {
    @apply w-full h-32 object-cover rounded-lg mb-2;
}

/* -------------------------------
| File Info
|------------------------------- */
.file-info {
    @apply flex flex-col gap-2;
}

.file-name {
    @apply text-sm font-medium truncate;
}

/* -------------------------------
| Progress Bar
|------------------------------- */
.progress-text {
    @apply text-xs! text-end font-bold;
}

.progress-text::after {
    content: "%";
}

.progress-bar {
    @apply relative w-full h-2 rounded-full overflow-hidden;
    @apply bg-current/10;
}

.progress-bar .progress {
    @apply absolute left-0 top-0 h-full;
    @apply bg-current/50;
    @apply transition-all duration-300 ease-linear;
}

.cancel-btn {
    @apply self-end;
}

/* -------------------------------
| Add more files
|------------------------------- */

.add-files {
    @apply min-h-[250px] border-2 border-dashed border-current/30 rounded-lg flex items-center justify-center gap-2 bg-current/5;
    @apply hover:bg-current/3 cursor-pointer;
}

.add-files > * {
    @apply text-base;
}
