/* .input-range {
  @apply h-[6px] w-full cursor-pointer appearance-none rounded-lg bg-[#D9D9D9]/30;
} */

.input-field input[type="range"] {
  @apply h-1 rounded-md border-none bg-[#D9D9D9]/30 p-0 outline-none;
  -webkit-appearance: none;
}

/* Chrome, Safari, Edge */
.input-field input[type="range"]::-webkit-slider-thumb {
  @apply bg-light h-3 w-3 cursor-pointer appearance-none rounded-full border-none;
  -webkit-appearance: none;
}
/* Firefox */
.input-field input[type="range"]::-moz-range-thumb {
  @apply bg-light h-3 w-3 cursor-pointer appearance-none rounded-full border-none;
}

.range-labels {
  @apply !mt-2 flex justify-between;
}
.range-labels span {
  @apply text-dark font-inter text-sm;
}
