input[type="search"]::-webkit-search-cancel-button {
  @apply h-4 w-4 cursor-pointer appearance-none bg-[length:1rem_1rem] bg-no-repeat opacity-50 transition-all duration-150 ease-in-out hover:opacity-80;
  background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24"><path d="M18,6h0a1,1,0,0,0-1.414,0L12,10.586,7.414,6A1,1,0,0,0,6,6H6A1,1,0,0,0,6,7.414L10.586,12,6,16.586A1,1,0,0,0,6,18H6a1,1,0,0,0,1.414,0L12,13.414,16.586,18A1,1,0,0,0,18,18h0a1,1,0,0,0,0-1.414L13.414,12,18,7.414A1,1,0,0,0,18,6Z"/></svg>');
}

.input-field button + input[type="search"] {
  @apply pr-9;
}
