/* ---------------------------------------- */
/* Textarea */
/* ---------------------------------------- */

textarea {
    @apply resize-y;
}

textarea:disabled {
    @apply resize-none;
}

.input-field textarea {
    @apply font-inter w-full rounded-lg border border-solid border-current/5 bg-current/5 p-3 text-sm font-medium text-current/80 shadow-none ring-0 transition-all duration-150 ease-in-out outline-none;
    @apply placeholder:text-current/40;
}

.input-field:hover textarea {
    @apply border-current/20;
}

.input-field textarea:active,
.input-field textarea:focus-within,
.input-field textarea:focus-visible,
.input-field textarea:focus {
    @apply border-current/10;
}
.input-field textarea:active + label,
.input-field textarea:focus-within + label,
.input-field textarea:focus-visible + label,
.input-field textarea:focus + label {
    @apply text-light;
}

#char-counter {
    @apply mt-1 ml-auto w-fit text-xs text-black/50;
}

#char-counter.warning {
    @apply text-red-500;
}
