/* ---------------------------------------- */
/* Toggle button */
/* ---------------------------------------- */

.toggle {
  @apply relative mb-2 flex w-fit flex-wrap items-center gap-y-2 last-of-type:mb-0;
}
.toggle span {
  @apply ml-3 cursor-pointer;
}
.toggle > input[type="radio"],
.toggle > input[type="checkbox"] {
  @apply sr-only;
}
.toggle-circle {
  @apply flex h-[1.5rem] w-10 shrink-0 cursor-pointer items-center rounded-full bg-current/20;
  @apply after:absolute after:left-[18px] after:h-[0.7rem] after:w-[0.8rem] after:rounded-full after:bg-current/80 after:shadow-md after:transition-all after:content-[''];
  @apply peer-checked:bg-[#f39d52] peer-focus:outline-none peer-checked:after:translate-x-full;
}
.toggle-label {
  @apply text-dark ml-3 cursor-pointer text-sm leading-none font-medium first-letter:capitalize;
}

.toggle > input[type="radio"]:disabled ~ .toggle-label,
.toggle > input[type="radio"]:disabled ~ .toggle-circle,
.toggle > input[type="checkbox"]:disabled ~ .toggle-label,
.toggle > input[type="checkbox"]:disabled ~ .toggle-circle {
  @apply pointer-events-none;
}

.toggle > input[type="radio"]:checked:disabled ~ .toggle-circle,
.toggle > input[type="checkbox"]:checked:disabled ~ .toggle-circle {
  @apply bg-light/50 after:shadow-none;
}

.toggle > input[type="radio"]:disabled ~ .toggle-circle,
.toggle > input[type="checkbox"]:disabled ~ .toggle-circle {
  @apply bg-gray-100/80 after:shadow-none;
}

.toggle > input[type="radio"]:disabled ~ .toggle-label,
.toggle > input[type="checkbox"]:disabled ~ .toggle-label {
  @apply text-gray-500;
}

.toggle > p {
  @apply text-dark/50 w-full text-sm;
}

.toggle-wrapper {
  @apply !mt-4 flex gap-3;
}

.toggle-wrapper span {
  @apply font-inter text-sm ;
}
