@reference "@css/reference.css";

/* Impots */
@import "@css_pages/_layouts/app-layouts.css";
@import "@css_admin/services/services-table.css";
@import "@css_admin/services/service-view.css";
@import "@css_admin/services/service-form.css";