/* -------------------------------
   Hero Section
------------------------------- */
.hero {
    @apply p-5 relative flex flex-col justify-center overflow-hidden;
}

/* -------------------------------
   Background
------------------------------- */
.hero__bg {
    @apply absolute inset-0 overflow-hidden;
}

.hero__spotlight {
    @apply absolute w-72 h-72 bg-main-light rounded-full filter blur-3xl animate-float;
}

.hero__spotlight--top {
    @apply top-1/4 left-10;
}

.hero__spotlight--bottom {
    @apply bottom-1/4 right-10 w-96 h-96;
}

/* -------------------------------
   Layout
------------------------------- */
.hero__container {
    @apply container mx-auto px-4 py-20 relative z-10;
    @apply !transition-all duration-400;
}

.hero__content {
    @apply flex flex-col items-start gap-5;
    @apply lg:flex-row;
}

.hero__main {
    @apply flex-1;
}

.hero__media {
    @apply relative w-full mt-12 flex-1;
}

/* -------------------------------
   Badge
------------------------------- */
.hero__badge {
    @apply inline-flex items-center px-4 py-1.5 mb-6;
    @apply !bg-current/10 backdrop-blur-sm border border-current/10 rounded-full;
}

.hero__badge-text {
    @apply text-xs font-medium mr-2 !text-light/70;
}

/* -------------------------------
   Title & Text
------------------------------- */
.hero__title {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold mb-6 leading-tight max-w-[70%];
    @apply !transition-all duration-500;
}

.hero__description {
    @apply text-lg mb-8 max-w-lg text-current/50;
}

/* -------------------------------
   Actions
------------------------------- */
.hero__actions {
    @apply flex flex-col items-center gap-3;
    @apply xl:w-1/2 md:flex-row;
}

.hero__actions .main-btn,
.hero__actions .outline-btn {
    @apply w-full p-3 border-current/20;
}

/* -------------------------------
   Stats
------------------------------- */
.hero__stats {
    @apply mt-8 flex items-center !space-x-6;
}

.hero__stats div > h1 {
    @apply text-2xl font-bold text-white;
}

.hero__stats div > h1::after {
    content: "+";
}

.hero__stats > p {
    @apply text-sm text-gray-400;
}

.hero__divider {
    @apply h-12 w-px bg-current/10;
}

/* -------------------------------
   Video
------------------------------- */
.hero__video-wrapper {
    @apply w-full max-h-[500px] mx-auto bg-center bg-cover shadow-2xl;
}

.hero__video-wrapper video {
    @apply w-full h-full rounded-2xl;
}

/* -------------------------------
   Floating Cards
------------------------------- */
.hero__card {
    @apply absolute bg-current/10 backdrop-blur-md rounded-lg p-3;
    @apply border border-current/10 shadow-lg;
}

.hero__card--bottom {
    @apply -right-6 -bottom-6;
}

.hero__card-content {
    @apply flex items-center gap-2;
}

.hero__card-content i {
    @apply h-10 w-10 bg-green-500/20 rounded-full flex items-center justify-center;
}

.hero__card-content p {
    @apply text-lg font-bold text-green-500;
}
