/* -------------------------------
   Global Utilities
------------------------------- */
body {
    @apply bg-primary!;
}
/* -------------------------------
   Shared Gradient
------------------------------- */
.landing-content {
    @apply bg-gradient-to-b from-primary to-primary/50;
}

.text-gradient {
    @apply bg-gradient-to-r from-red-100 via-red-300 to-red-500 
           bg-clip-text text-transparent;
}

/* -------------------------------
   Section Header
------------------------------- */
.section-header {
    @apply text-center mb-16;
}

.section-title {
    @apply text-3xl md:text-4xl font-bold mb-4;
}

.section-paragraph {
    @apply text-gray-400 max-w-2xl mx-auto;
}
