@reference "@css/reference.css";

/* Impots */
@import "@css/pages/_layouts/app-layouts.css";
@import "@css_admin/dashboard/dashboard-cards.css";
@import "@css_admin/projects/_projects.css";

/* -------------------------------------------------
   Dashboard Grid
-------------------------------------------------- */
.dashboard-grid {
    @apply grid gap-5 lg:grid-cols-[1fr];
    @apply h-full;
}

.dashboard-grid > div {
    @apply flex flex-col gap-5;
}

.dashboard-grid .projects .table-container .table-header .main-btn {
    @apply block!;
}

.dashboard-grid .table-container:has(.empty-table) {
    @apply min-h-full;
}
