/* -------------------------------------------------
   Charts
-------------------------------------------------- */
.charts {
    @apply w-full bg-current/5 rounded-3xl;
}

/* -------------------------------------------------
   Chart Card
-------------------------------------------------- */
.chart-card {
    @apply w-full p-4 rounded-2xl shadow-2xl shadow-current/5;
}

/* -------------------------------------------------
   Chart Title
-------------------------------------------------- */
.chart-title {
    @apply mb-3 text-[16px] font-semibold;
}

/* -------------------------------------------------
   Chart Wrapper
-------------------------------------------------- */
.chart-wrapper {
    @apply relative w-full max-h-[450px];
}

.chart-wrapper > canvas {
    @apply !w-full !h-full;
}
