.role-view {
    @apply w-full flex flex-col justify-center gap-5;
}

.role-view-row {
    @apply flex items-center justify-between;
}

.role-view-row:not(:last-child) {
    @apply border-b border-current/5;
}

.role-view-row .label-info {
    @apply flex-1;
}