/* -------------------------------  
   Role form  
-------------------------------- */
.role-form {
    @apply w-full h-full flex flex-col gap-5;
}

/* -------------------------------  
   Role card
-------------------------------- */
.role-form .card {
    @apply w-full h-fit;
}

.role-form .role-card {
    @apply flex flex-col gap-5;
    @apply lg:flex-row lg:items-center;
}

.role-form .card > *{
    @apply flex-1;
}

/* -------------------------------  
   Permissions card
-------------------------------- */
.permissions-card {
    @apply w-full flex flex-col gap-10;
}

.permissions-card__title {
    @apply text-lg font-semibold;
}

/* -------------------------------  
   Permission group
-------------------------------- */
.permissions-group {
    @apply flex flex-col gap-5 border-1 border-current/10 rounded-lg p-5;
}

.permissions-group__title {
    @apply text-xl font-bold text-current;
}

/* -------------------------------  
   Permission actions
-------------------------------- */
.permissions-actions {
    @apply grid grid-cols-2 gap-3;
    @apply sm:grid-cols-3;
    @apply lg:grid-cols-4;
}

.permissions-action {
    @apply flex items-center gap-2;
}

.permissions-action__label {
    @apply text-sm;
}
