.spinner {
  @apply pointer-events-none relative min-h-[1.5rem] cursor-default overflow-clip select-none;
}
.spinner::before {
  @apply absolute top-0 right-0 bottom-0 left-0 z-[100] backdrop-blur-[20px] content-[''];
  -webkit-backdrop-filter: 20px;
}
.spinner::after {
  @apply absolute top-[45%] right-0 left-0 z-[100] mx-auto h-6 w-6 animate-spin place-self-center bg-contain bg-center bg-no-repeat opacity-100 content-[''];
  animation-duration: 1.5s;
  background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 10C1 12.3869 1.94821 14.6761 3.63604 16.364C5.32387 18.0518 7.61305 19 10 19C12.3869 19 14.6761 18.0518 16.364 16.364C18.0518 14.6761 19 12.3869 19 10C19 7.61305 18.0518 5.32387 16.364 3.63604C14.6761 1.94821 12.3869 1 10 1M15 10C15 9.01109 14.7068 8.04439 14.1573 7.22215C13.6079 6.3999 12.827 5.75904 11.9134 5.3806C10.9998 5.00216 9.99445 4.90315 9.02455 5.09607C8.05464 5.289 7.16373 5.7652 6.46447 6.46447C5.7652 7.16373 5.289 8.05464 5.09607 9.02455C4.90315 9.99445 5.00216 10.9998 5.3806 11.9134C5.75904 12.827 6.3999 13.6079 7.22215 14.1573C8.04439 14.7068 9.01109 15 10 15" stroke="%23F1A62D" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.spinner .spinner::before,
.spinner .spinner::after {
  @apply z-[90];
}

/* ---------- */
a.spinner,
button.spinner {
  color: transparent !important;
  @apply focus-within:!text-transparent focus:!text-transparent focus-visible:!text-transparent;
}

a.spinner:before,
button.spinner:before {
  @apply backdrop-blur-none;
}
a.spinner:after,
button.spinner:after {
  @apply top-auto h-5 w-5;
}
/* ---------- */

.spinner-overlay {
  @apply pointer-events-none relative min-h-[1.5rem] cursor-default select-none;
}
.spinner-overlay::before {
  @apply absolute top-0 right-0 bottom-0 left-0 z-[100] !bg-white backdrop-blur-[20px] content-[''];
  -webkit-backdrop-filter: 20px;
}
.spinner-overlay::after {
  @apply absolute top-[45%] right-0 left-0 z-[100] mx-auto h-[1.5rem] w-[1.5rem] animate-spin place-self-center bg-contain bg-center bg-no-repeat opacity-100 content-[''];
  background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 10C1 12.3869 1.94821 14.6761 3.63604 16.364C5.32387 18.0518 7.61305 19 10 19C12.3869 19 14.6761 18.0518 16.364 16.364C18.0518 14.6761 19 12.3869 19 10C19 7.61305 18.0518 5.32387 16.364 3.63604C14.6761 1.94821 12.3869 1 10 1M15 10C15 9.01109 14.7068 8.04439 14.1573 7.22215C13.6079 6.3999 12.827 5.75904 11.9134 5.3806C10.9998 5.00216 9.99445 4.90315 9.02455 5.09607C8.05464 5.289 7.16373 5.7652 6.46447 6.46447C5.7652 7.16373 5.289 8.05464 5.09607 9.02455C4.90315 9.99445 5.00216 10.9998 5.3806 11.9134C5.75904 12.827 6.3999 13.6079 7.22215 14.1573C8.04439 14.7068 9.01109 15 10 15" stroke="%23F1A62D" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

/* ---------- */

body.spinner {
  @apply block !overflow-y-hidden;
}
body.spinner::before {
  @apply fixed z-[200] backdrop-blur-[20px] content-[''];
}
body.spinner::after {
  @apply top-0 right-0 bottom-0 left-0 z-[210] h-10 w-10 bg-contain bg-center bg-no-repeat content-[''];
  background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 10C1 12.3869 1.94821 14.6761 3.63604 16.364C5.32387 18.0518 7.61305 19 10 19C12.3869 19 14.6761 18.0518 16.364 16.364C18.0518 14.6761 19 12.3869 19 10C19 7.61305 18.0518 5.32387 16.364 3.63604C14.6761 1.94821 12.3869 1 10 1M15 10C15 9.01109 14.7068 8.04439 14.1573 7.22215C13.6079 6.3999 12.827 5.75904 11.9134 5.3806C10.9998 5.00216 9.99445 4.90315 9.02455 5.09607C8.05464 5.289 7.16373 5.7652 6.46447 6.46447C5.7652 7.16373 5.289 8.05464 5.09607 9.02455C4.90315 9.99445 5.00216 10.9998 5.3806 11.9134C5.75904 12.827 6.3999 13.6079 7.22215 14.1573C8.04439 14.7068 9.01109 15 10 15" stroke="%23F1A62D" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
body.spinner::before {
  -webkit-backdrop-filter: 20px;
}

/* ---------- */

.spinner-ignore {
  @apply text-dark absolute top-0 right-0 bottom-0 left-0 z-100 mx-auto !hidden items-center justify-center pt-16 text-center text-sm leading-none font-medium select-none;
}
.spinner .spinner-ignore,
.spinner-overlay .spinner-ignore {
  @apply !flex;
}