.danger-card {
  @apply flex flex-col gap-5 rounded border border-solid border-[#FF9999] p-6;
}

.danger-card h6 {
  @apply font-inter text-lg font-bold text-[#D32727];
}

.danger-card p {
  @apply mb-1 font-inter text-base;
}
.danger-card .danger-btn {
  @apply self-end;
}

/* .danger-card p {} */
